body{
    background-color: #fae6f8;}

    a:link {color: #70516d;}

    a:visited {color: #c7a4ed;}
    
    a:hover {color:#421e69;}


    p{
        color:#2f183b}
    
h1{ 
    color:#2f183b
}
.nav {background-color: whitesmoke;}
.evenrow {background-color:seashell;}

title{color:#2f183b}

head{color:#774896}

tr{color:#774896}
td{color:#774896}
h2 {color:#774896}
h3{color: purple}
caption{color:#2f183b}
nav a {color: #cbc6cf;}
.secondrow {flex-wrap: wrap;}

nav a:hover{background-color: silver;}

@media only screen and (max-width: 600px) {
a {display: block;}
span {display: none;}
a {padding: 20px;}

}
