body {
    font-family: 'Courier New', Courier, monospace;
}
h1, h2 {
    color: turquoise;
}
h1,h2 {@font-face
    font-family:monospace;
    src: url(turquoise);
}

.evenrow {background-color:bisque}

h1 {font-size: 2em;}

h2 {font-size: 1em;}